/* Background Image Styling */
body {
    background-image: url(https://et-website.s3.amazonaws.com/uploads/2019/02/Enchanting-Travels-Japan-Tours-Miyajima-Hiroshima-Japan-floating-shrine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    margin: 0;
}

/* Styling for main block */
.main-info {
    background-color: white;
    border: 5px solid black;
    max-width: 100%;
    margin: 100px auto;
    width: 960px;
    text-align: center;
    font-family: sans-serif;
}

/* Styling for name of tribute */
h1 {
    margin: 0 auto;   
}

/* Styling for image */
img {
    display: block;
    margin: 0 auto 0 auto;
    max-width: 100%;
    height: auto;
}

/* Styling for caption below image */
.caption {
    font-size: 20px;
}

/* Styling for dividers present before and after info about tribute */
.border {
    border: 3px solid black;
}

/* Styling for list of info on tribute */
ul {
    margin: 0 auto;
    max-width: 1000px;
}

/* Styling for each list element */
li {
    list-style-type: none;
}

/* Styling for the description of each item (below the heading of the item) */
p[class="item-description"] {
    text-align: center;
    vertical-align: middle;
    max-width: 100%;
    font-size: 18px;
    margin-right: 35px;
}

/* Styling for hovering over link */
.link:hover {
    color: red;
}

/* Styling for link */
.link {
    color: blue;
}